{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/forms.css') }}">
{% endblock %}

{% block title %}Hello wish create!{% endblock %}

{% block body %}

    <div>
        <h1>Hello wish create!</h1>
        <br>
        {{ form_start(wishForm) }}
        {{ form_widget(wishForm) }}
        <br>
        <button type="submit" class="btn btn-success">Créer un souhait</button>
        {{ form_end(wishForm) }}
    </div>
{% endblock %}
