{% extends 'base.html.twig' %}

{% block title %}Hello whish list!{% endblock %}

{% block body %}

<div>
    <h1>Hello wish list!</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Titre du souhait</th>
            <th scope="col">Catégorie</th>
        </tr>
        </thead>
        <tbody>
        {% for wish in wishes %}
            <tr>
                <td><a href="{{ path('wish_details', {'id': wish.id}) }}">{{ wish.title }}</a></td>
                <td>{{ wish.category.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
