{% extends 'base.html.twig' %}

{% block title %}Hello whish list!{% endblock %}

{% block body %}

<div>
    <h1>Hello wish list!</h1>
    {% for wish in wishes %}
        <p><a href="{{ path('wish_details', {'id': wish.id}) }}">{{ wish.title }}</a></p>
    {% endfor %}
</div>
{% endblock %}
