<div class="top-left-header">
    <img src="{{ asset('images/logo.png') }}" alt="Logo de mon application">
    <h2 class="application-title">Bucket list</h2>
</div>
<div>
    <nav>
        <ul class="menu">
            <li><a href="{{ path('app_main') }}">Home</a></li>
            <li><a href="{{ path('wish_list') }}">Liste des souhaits</a></li>
        </ul>
    </nav>
</div>